/*
Cache-Control: max-age=604800, public
Expires: Thu, 21 Apr 2025 12:00:00 GMT
*/
*{box-sizing: border-box;}
body{
    width:100%;
    padding:0px;
    margin:0;
    overflow-x:hidden;
    overflow-y:auto;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    text-align:center;
}
.container{
    width:100%;
    height:auto;
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    background-color:#E1E1E1;
    padding:20px;
}
h1,h2,h3,p,a,li{
    color:#000;
    font-size:1em;
    margin-bottom:20px;
}
h1, h2, h3{
    font-family: "robotobold", sans-serif;
}
h1,h2{
    font-size:1.8em;
}
h3{
    font-size:1.5em;
}
.button{
    width:120px;
    display:block;
    margin:0 auto;
    padding:15px 10px;
    background-color:#004fcd;
    font-weight:700;
    border-radius:10px;
    text-decoration:none;
    color:#FFF;
    margin-top:20px;
}
p,li{
    margin-top:0;margin-bottom:20px;
}
ul{
    padding:0;
}
li{
    list-style:none;
    display:inline-block;
    vertical-align:top;
    margin:0 1.6%;
}
li p{
    max-width:290px;
    margin:0 auto;}
.tags{
    max-width:100%;
    margin:20px auto;
    display:flex;
    flex-wrap:wrap;
    gap:5px;
    justify-content:center;
}
.tags li{
    margin:0;
}
.tags a{
    width:auto;
    display:block;
    margin:0 auto;
    padding:5px 8px;
    font-weight:700;
    text-decoration:none;
    color:#000;
    border:3px solid #fccb02;
    border-radius:5px;
    font-size:.9em;
}
.brand{
    width: 70px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15%;
    border:3px solid #004fcd;
    border-right:none;
    border-radius:5px 0px 0px 5px;
    margin:0 auto;
}
.brand:before,
.brand:after{
    content:"";
    width:40%;
    height:3px;
    background-color:black;
    border-radius:5px;
    border-radius:5px 0px 0px 5px;
    margin-left:auto;
}
.brand:after{
    width:5%;
    background-color:#ffcb02;
    border-radius:0;
}

@font-face {
    font-family: 'robotobold';
    src: url('fonts/roboto-bold-webfont.woff2') format('woff2'),
    url('fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto-regular-webfont.woff2') format('woff2'),
    url('fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}